@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Anonymous Pro", monospace;
  background-color: rgb(25, 25, 25);
}

.website::before {
  content: "​";
  content: "​"/"website.";
  alt: "website.";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 9.87s linear 1s 2 forwards, typed-0-final 0.4s linear 20.74s 1 forwards;
}
@keyframes typed-0-final {
  0%, 12.5% {
    content: "​w";
    content: "​w"/"website.";
    alt: "website.";
  }
  12.501%, 25% {
    content: "​we";
    content: "​we"/"website.";
    alt: "website.";
  }
  25.001%, 37.5% {
    content: "​web";
    content: "​web"/"website.";
    alt: "website.";
  }
  37.501%, 50% {
    content: "​webs";
    content: "​webs"/"website.";
    alt: "website.";
  }
  50.001%, 62.5% {
    content: "​websi";
    content: "​websi"/"website.";
    alt: "website.";
  }
  62.501%, 75% {
    content: "​websit";
    content: "​websit"/"website.";
    alt: "website.";
  }
  75.001%, 87.5% {
    content: "​website";
    content: "​website"/"website.";
    alt: "website.";
  }
  87.501%, 100% {
    content: "​website.";
    content: "​website."/"website.";
    alt: "website.";
  }
}
.website::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.505585613% {
    content: "​w";
    content: "​w"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  0.506585613%, 1.0121712259% {
    content: "​we";
    content: "​we"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  1.0131712259%, 1.5187568389% {
    content: "​web";
    content: "​web"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  1.5197568389%, 2.0253424519% {
    content: "​webs";
    content: "​webs"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  2.0263424519%, 2.5319280648% {
    content: "​websi";
    content: "​websi"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  2.5329280648%, 3.0385136778% {
    content: "​websit";
    content: "​websit"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  3.0395136778%, 3.5450992908% {
    content: "​website";
    content: "​website"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  3.5460992908%, 14.5886656535% {
    content: "​website.";
    content: "​website."/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  14.5896656535%, 14.9939341439% {
    content: "​website";
    content: "​website"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  14.9949341439%, 15.3992026342% {
    content: "​websit";
    content: "​websit"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  15.4002026342%, 15.8044711246% {
    content: "​websi";
    content: "​websi"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  15.8054711246%, 16.209739615% {
    content: "​webs";
    content: "​webs"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  16.210739615%, 16.6150081054% {
    content: "​web";
    content: "​web"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  16.6160081054%, 17.0202765957% {
    content: "​we";
    content: "​we"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  17.0212765957%, 17.4255450861% {
    content: "​w";
    content: "​w"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  17.4265450861%, 22.4914012158% {
    content: "​";
    content: "​"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  22.4924012158%, 22.9979868288% {
    content: "​c";
    content: "​c"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  22.9989868288%, 23.5045724417% {
    content: "​ca";
    content: "​ca"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  23.5055724417%, 24.0111580547% {
    content: "​car";
    content: "​car"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  24.0121580547%, 24.5177436677% {
    content: "​care";
    content: "​care"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  24.5187436677%, 25.0243292806% {
    content: "​caree";
    content: "​caree"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  25.0253292806%, 25.5309148936% {
    content: "​career";
    content: "​career"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  25.5319148936%, 26.0375005066% {
    content: "​career ";
    content: "​career "/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  26.0385005066%, 26.5440861196% {
    content: "​career j";
    content: "​career j"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  26.5450861196%, 27.0506717325% {
    content: "​career jo";
    content: "​career jo"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  27.0516717325%, 27.5572573455% {
    content: "​career jou";
    content: "​career jou"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  27.5582573455%, 28.0638429585% {
    content: "​career jour";
    content: "​career jour"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  28.0648429585%, 28.5704285714% {
    content: "​career journ";
    content: "​career journ"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  28.5714285714%, 29.0770141844% {
    content: "​career journe";
    content: "​career journe"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  29.0780141844%, 29.5835997974% {
    content: "​career journey";
    content: "​career journey"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  29.5845997974%, 40.6271661601% {
    content: "​career journey.";
    content: "​career journey."/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  40.6281661601%, 41.0324346505% {
    content: "​career journey";
    content: "​career journey"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  41.0334346505%, 41.4377031408% {
    content: "​career journe";
    content: "​career journe"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  41.4387031408%, 41.8429716312% {
    content: "​career journ";
    content: "​career journ"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  41.8439716312%, 42.2482401216% {
    content: "​career jour";
    content: "​career jour"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  42.2492401216%, 42.653508612% {
    content: "​career jou";
    content: "​career jou"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  42.654508612%, 43.0587771023% {
    content: "​career jo";
    content: "​career jo"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  43.0597771023%, 43.4640455927% {
    content: "​career j";
    content: "​career j"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  43.4650455927%, 43.8693140831% {
    content: "​career ";
    content: "​career "/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  43.8703140831%, 44.2745825735% {
    content: "​career";
    content: "​career"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  44.2755825735%, 44.6798510638% {
    content: "​caree";
    content: "​caree"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  44.6808510638%, 45.0851195542% {
    content: "​care";
    content: "​care"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  45.0861195542%, 45.4903880446% {
    content: "​car";
    content: "​car"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  45.4913880446%, 45.895656535% {
    content: "​ca";
    content: "​ca"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  45.896656535%, 46.3009250253% {
    content: "​c";
    content: "​c"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  46.3019250253%, 51.366781155% {
    content: "​";
    content: "​"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  51.367781155%, 51.873366768% {
    content: "​p";
    content: "​p"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  51.874366768%, 52.379952381% {
    content: "​pa";
    content: "​pa"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  52.380952381%, 52.8865379939% {
    content: "​pas";
    content: "​pas"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  52.8875379939%, 53.3931236069% {
    content: "​pass";
    content: "​pass"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  53.3941236069%, 53.8997092199% {
    content: "​passi";
    content: "​passi"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  53.9007092199%, 54.4062948328% {
    content: "​passio";
    content: "​passio"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  54.4072948328%, 54.9128804458% {
    content: "​passion";
    content: "​passion"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  54.9138804458%, 55.4194660588% {
    content: "​passions";
    content: "​passions"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  55.4204660588%, 66.4630324215% {
    content: "​passions.";
    content: "​passions."/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  66.4640324215%, 66.8683009119% {
    content: "​passions";
    content: "​passions"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  66.8693009119%, 67.2735694022% {
    content: "​passion";
    content: "​passion"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  67.2745694022%, 67.6788378926% {
    content: "​passio";
    content: "​passio"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  67.6798378926%, 68.084106383% {
    content: "​passi";
    content: "​passi"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  68.085106383%, 68.4893748734% {
    content: "​pass";
    content: "​pass"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  68.4903748734%, 68.8946433637% {
    content: "​pas";
    content: "​pas"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  68.8956433637%, 69.2999118541% {
    content: "​pa";
    content: "​pa"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  69.3009118541%, 69.7051803445% {
    content: "​p";
    content: "​p"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  69.7061803445%, 74.7710364742% {
    content: "​";
    content: "​"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  74.7720364742%, 75.2776220871% {
    content: "​a";
    content: "​a"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  75.2786220871%, 75.7842077001% {
    content: "​ad";
    content: "​ad"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  75.7852077001%, 76.2907933131% {
    content: "​adv";
    content: "​adv"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  76.2917933131%, 76.797378926% {
    content: "​adve";
    content: "​adve"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  76.798378926%, 77.303964539% {
    content: "​adven";
    content: "​adven"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  77.304964539%, 77.810550152% {
    content: "​advent";
    content: "​advent"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  77.811550152%, 78.3171357649% {
    content: "​adventu";
    content: "​adventu"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  78.3181357649%, 78.8237213779% {
    content: "​adventur";
    content: "​adventur"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  78.8247213779%, 79.3303069909% {
    content: "​adventure";
    content: "​adventure"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  79.3313069909%, 79.8368926039% {
    content: "​adventures";
    content: "​adventures"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  79.8378926039%, 90.8804589666% {
    content: "​adventures.";
    content: "​adventures."/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  90.8814589666%, 91.2857274569% {
    content: "​adventures";
    content: "​adventures"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  91.2867274569%, 91.6909959473% {
    content: "​adventure";
    content: "​adventure"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  91.6919959473%, 92.0962644377% {
    content: "​adventur";
    content: "​adventur"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  92.0972644377%, 92.5015329281% {
    content: "​adventu";
    content: "​adventu"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  92.5025329281%, 92.9068014184% {
    content: "​advent";
    content: "​advent"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  92.9078014184%, 93.3120699088% {
    content: "​adven";
    content: "​adven"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  93.3130699088%, 93.7173383992% {
    content: "​adve";
    content: "​adve"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  93.7183383992%, 94.1226068896% {
    content: "​adv";
    content: "​adv"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  94.1236068896%, 94.5278753799% {
    content: "​ad";
    content: "​ad"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  94.5288753799%, 94.9331438703% {
    content: "​a";
    content: "​a"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
  94.9341438703%, 100% {
    content: "​";
    content: "​"/"website.";
    alt: "website.";
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
    color: blueviolet;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.website::before {
  font-weight: bold;
}
.website::after {
  border-right-width: 2px;
}

/*# sourceMappingURL=styles.css.map */
