// @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'typed';
@import "modules/color";
@import "modules/general";
@import "modules/grid";
@import "modules/typo";
@import "modules/spacer";
@import "modules/image";
@import "modules/button";
@import "modules/shadow";
@import "modules/border";
@import "modules/color";

// header
header {
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .navbar {
        a {
            color: white;
            padding: 10px 20px;

            &:hover {
                background: white;
                color: $lightorange;
            }
        }

        .button {

            background: $orange;
            border-radius: 30px;

            &:hover {
                background: none;
                border: 1px solid $lightorange;
                color: $lightorange;
            }
        }
    }
}

#burger {
    display: none;
}

/* Global */
html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.website-intro {
    @include typed(("This is my website.": (color: blueviolet),
            "These are my passions.": (color: blueviolet),
            "This is my career journey.": (color: blueviolet),
            "These are my adventures.": (color: blueviolet)), 2, (iterations: 2, caret-width: 2px, end-on: "This is my website."));

    &::before {
        font-weight: bold;
    }

    &::after {
        border-right-width: 2px;
    }
}

/* Style the header */
.connectHeader {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}