@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import 'typed';

/* Global */
html {
    height: 100%;
    overflow-y: scroll; 
    overflow-x:hidden; 
}

header {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255, 255, 255, .75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25);
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.website-intro {
    @include typed(
            ("This is my website.": (color: blueviolet),
            "These are my passions.": (color: blueviolet),
            "This is my career journey.": (color: blueviolet),
            "These are my adventures.": (color: blueviolet)), 2, (iterations: 2, caret-width: 2px, end-on: "This is my website."));
    &::before {
        font-weight: bold;
    }

    &::after {
        border-right-width: 2px;
    }
}